<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a routerLink="/acheteur" class="dropdown-item" href="#">Visite les acheteurs</a>
            </div>
          </div>
          <div class="text-value">{{reporting_graph.nombre_acheteur}}</div>
          <div>Nombre acheteurs</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a routerLink="/produit" class="dropdown-item" href="#">Visite les produit</a>
            </div>
          </div>
          <div class="text-value">{{reporting_graph.nombre_produit}}</div>
          <div>Nombre des produit</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type"></canvas> -->
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a routerLink="/commande" class="dropdown-item" href="#">Visites les commandes</a>
            </div>
          </div>
          <div class="text-value">{{reporting_graph.nombre_commande}}</div>
          <div>Commandes en cours</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas> -->
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a routerLink="/livraison" class="dropdown-item" href="#">Visite les livraison</a>
            </div>
          </div>
          <div class="text-value">{{reporting_graph.nombre_livraison}}</div>
          <div>Livraison en cours</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <!-- <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas> -->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Statistique du vente
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">Nouveau clients</small>
                    <br>
                    <strong class="h4">{{reporting_resume.nouveau_client}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Acheteur</small>
                    <br>
                    <strong class="h4">{{reporting_resume.nombre_acheteur}}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

              <div class="progress-group mb-4" *ngFor="let data of reporting_date">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    {{data.label}}
                  </span>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': data.nombre_acheteur + '%'}" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': data.nouveau_client + '%'}" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

            </div><!--/.col-->

          <br>

        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
