@import '../../../styles.scss';

.home-main {
  background-image: url('../../../assets/img/home/home-background.png');
  background-size: cover;
  background-color: white;
  font-weight: bold;
}

.title-home {
  background-color: $secondary;
  padding:1% 15%;
  // text-align: center;
  font-weight: bold;
}

.title-home-text {
  padding:4% 5%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.185) 100%);
}

.home {
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 15%;
}

.home-table {
  width: 100%;
}

.home-title-text {
  font-family: 'Arkania';
  color: $secondary;
  font-size: 375px;
  text-shadow: -45px 25px 20px #00000070;
  font-weight: normal;
}

.home-btn {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 100%;
  background-image: url('../../../assets/img/home/home-footer.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.home-btn-collection {
  color: $secondary;
  border: 2px $secondary solid;
  padding: 20px 40px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  font-weight: bold;
  background-color: transparent;
  transition: 0.5s all;
  font-size: 20px;
}

.home-btn-collection:hover {
  color: $primary;
  border: 2px $secondary solid;
  cursor: pointer;
  background-color: $secondary;
  transition: 0.5s all;
}

@media only screen and (max-width: 900px) {

  .home {
    width: 80%;
    margin-bottom: 10%;
  }

  .home-title-text {
    font-size: 250px;
  }

}
