<div class="title-home">
  <div class="title-home-text" [innerHTML]="title"></div>
</div>
<div class="home-main">
  <div class="wrapper-body">
    <div class="p-grid">
      <div class="p-col-6" [innerHTML]="homeInfo1"></div>
      <div class="p-col-6" [innerHTML]="homeInfo2"></div>
      <div class="p-col-12" [innerHTML]="homeInfo3"></div>
    </div>
    <div class="home">
      <table class="home-table">
        <tr>
          <td>Alors soyons tous</td>
          <td><span class="home-title-text">Beeblo</span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="home-btn">
    <button routerLink="/collection" class="home-btn-collection">Decouvrer notre collection</button>
  </div>
</div>
