<footer>
  <div class="wrapper">
    <div class="p-grid">
      <div class="p-col">
        <div class="title-secondary p-mb-3">A PROPOS</div>
        <ul>
          <li>A propos</li>
          <li>Mon compte</li>
          <li>Conditions d'utilisation</li>
          <li>Termes et conditions de vente</li>
          <li>Aide et FAQ</li>
          <li>Mentions légales</li>
        </ul>
      </div>
      <div class="p-col">
        <div class="title-secondary p-mb-3">NOTRE COLLECTION</div>
        <ul>
          <li>Catégories</li>
          <li>Best seller</li>
          <li>Promotions</li>
          <li>Code de promotion</li>
        </ul>
      </div>
      <div class="p-col">
        <div class="title-secondary p-mb-3">CONTACT</div>
        <ul>
          <li><span class="c-secondary">Adresse : </span>loren lorem</li>
          <li><span class="c-secondary">Email : </span>beeblo@beeblo.com</li>
          <li><span class="c-secondary">Téléphone : </span> xxx xx xx xx</li>
          <li><span class="c-secondary">Web : </span>www.beeblo.com</li>
        </ul>
      </div>
    </div>
    <div class="p-text-center p-mb-6 p-mt-4">
      <img class="reseau" src="assets/img/footer/reseau.png" alt="reseau">
    </div>
    <div class="p-grid p-pb-2">
      <div class="p-col-6">Copyright © 2020 Beeblo</div>
      <div class="p-col-6 p-text-right">DESIGNED BY THEZICO</div>
    </div>
  </div>
</footer>
