<footer>
  <div class="wrapper">
    <div class="p-grid">
      <div class="p-col">
        <div class="title-secondary p-mb-3">A PROPOS</div>
        <ul>
          <li routerLink="/apropos">A propos</li>
          <li routerLink="/auth">Mon compte</li>
          <li routerLink="/condition">Conditions d'utilisation</li>
          <li>Termes et conditions de vente</li>
          <li routerLink="/faq">Aide et FAQ</li>
          <li>Mentions légales</li>
        </ul>
      </div>
      <div class="p-col">
        <div class="title-secondary p-mb-3">NOTRE COLLECTION</div>
        <ul>
          <li>Catégories</li>
          <li>Best seller</li>
          <li>Promotions</li>
          <li>Code de promotion</li>
        </ul>
      </div>
      <div class="p-col">
        <div class="title-secondary p-mb-3">CONTACT</div>
        <ul>
          <li><span class="c-secondary">Adresse : </span>loren lorem</li>
          <li><span class="c-secondary">Email : </span>beeblo@beeblo.com</li>
          <li><span class="c-secondary">Téléphone : </span> xxx xx xx xx</li>
          <li><span class="c-secondary">Web : </span>www.beeblo.com</li>
        </ul>
      </div>
    </div>
    <div class="p-text-center p-mb-6 p-mt-4">
      <a href="https://www.facebook.com" target="_blank">
        <img class="social-img" src="assets/img/footer/facebook.png" alt="facebook">
      </a>
      <a href="https://www.tumblr.com/" target="_blank">
        <img class="social-img" src="assets/img/footer/t.png" alt="tumblr">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img class="social-img" src="assets/img/footer/twitter.png" alt="twitter">
      </a>
      <a href="https://www.pinterest.com" target="_blank">
        <img class="social-img" src="assets/img/footer/pinterest.png" alt="pinterest">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img class="social-img" src="assets/img/footer/insta.png" alt="instagram">
      </a>
    </div>
    <div class="p-grid p-pb-2">
      <table class="footer-table">
        <tr>
          <td>Copyright © 2020 Beeblo</td>
          <td class="p-text-right">DESIGNED BY</td>
          <td class="logo-footer p-text-right"><img width="100" src="assets/img/logo/thezico.png" alt="thezico"/></td>
        </tr>
      </table>
    </div>
  </div>
</footer>
