@import '../../../styles.scss';

footer {
  background-color: $base-color;
  padding-top: 80px;
  color: #ffffff;
  font-size: 20px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li:hover {
  cursor: pointer;
}

.reseau {
  width: 25%;
}

.social-img {
  margin: 10px;
  height: 35px;
}

.title-secondary {
  color: $secondary;
  font-size: 18px !important;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer-table {
  width: 100%;
}

.logo-footer {
  width: 10%;
}

@media only screen and (max-width: 900px) {
  .reseau {
    width: 85%;
  }

  .title-secondary {
    font-size: 14px !important;
  }

  .p-col {
    font-size: 16px;
  }

  .footer-table {
    font-size: 10px;
  }
}
