<div class="code-promo-main">
    <div class="wrapper-body code-promo-block">
      <div>
        <img class="number-purcent" src="assets/img/code_promo/30pourcentoff.png" alt="beeblo-30">
      </div>
      <div class="each-block">
        JUSQU'AU 15 AVRIL 2021
      </div>
      <div class="each-block">
        AVEC LE CODE
      </div>
      <div class="code-block each-block">
        12345678
      </div>
      <div class="each-block">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic aperiam minima numquam,
        voluptatum sapiente illum ipsam incidunt tempore voluptatem exercitationem :
      </div>
      <div class="p-grid each-block">
        <div class="p-col-4">
          <img class="autre-boutique-img" src="assets/img/code_promo/batiq.png" alt="beeblo-batiq">
        </div>
        <div class="p-col-4">
          <img class="autre-boutique-img" src="assets/img/code_promo/how.png" alt="beeblo-how">
        </div>
        <div class="p-col-4">
          <img class="autre-boutique-img" src="assets/img/code_promo/oscie.png" alt="beeblo-oscie">
        </div>
      </div>
    </div>
</div>
