@import '../../../styles.scss';

.condition-title {
  text-align: center;
  color: $primary;
  border: 2px solid $primary;
  width: 50%;
  margin: auto;
}

.condition-content {
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 0 5%;
}

.condition-content-element {
  font-size: 20px;
  line-height: 20px;
  width: 47%;
  display: inline-block;
}

.img-condition-bottom {
  background-image: url('../../../assets/img/condition/condition.png');
  background-size: 100%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.condition-text-bottom {
  background-color: #ffffff;
  width: 40%;
  padding: 4%;
  font-size: 20px;
  line-height: 20px;
}

@media only screen and (max-width: 900px) {
  .condition-title {
    width: 80%;
  }

  .condition-content-element {
    width: 100%;
  }

  .condition-text-bottom {
    width: 80%;
  }
}
