<div>
    <div class="header">
      <div class="">
        <button class="btn btn-success p-mr-2" (click)="openNew()">
          Nouveau
          <i class="pi pi-plus"></i>
        </button>
        <button icon="pi pi-trash" class="btn btn-danger" (click)="deleteSelecteData()" [disabled]="!selectedData || !selectedData.length">
          <i class="pi pi-trash"></i>
        </button>
        <input type="text" [(ngModel)]="searchValue" (change)="onSearch()" placeholder="Rechercher" class="float-right form-control w-25"/>
      </div>
    </div>
    
    <div>
      <h2>{{title}}</h2>
    </div>

    <p-table [value]="data" [lazy]="true" (onLazyLoad)="reloadData($event)"
      styleClass="p-datatable-responsive"
      [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" 
      [globalFilterFields]="filterField"
      [(selection)]="selectedData">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem"><p-tableHeaderCheckbox ></p-tableHeaderCheckbox></th>
              <th *ngFor="let column of header">
                {{column.name}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <td>
            <p-tableCheckbox [value]="data"></p-tableCheckbox>
          </td>
          <tr>
              <td *ngFor="let key of filterField">{{data[key]}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>