<div>
  <img class="img-footer-home" src="assets/img/footer/footer-maison.png" alt="footer-maison">
</div>
<footer>
  <div class="wrapper">
    <div class="title-footer">L'élégance est dans les détails</div>
    <div class="p-grid p-pb-2">
      <table aria-describedby="footer-table" class="footer-table">
        <th id=""></th>
        <tr>
          <td>Copyright © {{annee}} Beeblo</td>
          <td class="p-text-right">DESIGNED BY</td>
          <td class="logo-footer p-text-right"><img width="100" src="assets/img/logo/thezico.png" alt="thezico"/></td>
        </tr>
      </table>
    </div>
  </div>
</footer>
