@import '../../../styles.scss';

.p-breadcrumb {
  border: 0px solid #dee2e6 !important;
}

button {
  font-family: $primary-font;
}

input {
  font-size: 20px;
}

.login-blue {
  margin-top: 4%;
  width: 90%;
  height: auto;
  background-color: $primary;
}

.login-orange {
  margin-top: -3%;
  width: 50%;
  height: auto;
  background-color: $secondary;
  position: absolute;
  right: 0;
  margin-right: 5%;
  padding-top: 5%;
  padding-bottom: 20px;
}

.connecte {
  width: 90%;
  margin: auto;
  font-weight: bold;
}

.form-group {
  padding-top: 8%;
}

.form-style {
  background-color: $warning;
  color: #dee2e6;
  width: 100%;
  height: 40px;
  border: 0;
  margin-top: 10px;
}

button.form-style {
  width: 160px;
  font-size: 16px;
  transition: 0.2s all;
  font-weight: bold;
  color: $primary;
}

button.form-style:hover {
  background-color: $primary;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s all;
}

.link-style {
  color: $primary;
  text-decoration: underline;
  transition: 0.2s all;
  cursor: pointer;
}

.cree_compte {
  width: 45%;
  margin-top: 2%;
  margin-left: 2%;
}

.form-style.cree_compte_btn {
  width: 160px;
  margin-left: 15%;
}

.cree_compte_btn:hover {
  border: 1px solid $warning;
}

.mobile_btn_cree_compte {
  display: none;
}

@media only screen and (max-width: 600px) {
  .login-blue {
    display: none;
  }

  .mobile_btn_cree_compte {
    width: 40% !important;
    display: block;
    margin-left: 0 !important;
  }


  .login-orange {
    position: relative;
    width: 100%;
    height: auto;
    background-color: $secondary;
    margin-top: 5%;
    margin-right: 0;
    padding-bottom: 15px;
  }

  button.form-style {
    font-size: 12px;
  }

  .form-group {
    padding-top: 7%;
  }

}
