<div class="wrapper-body">
  <div class="condition-title">
    <h1>NOS CONDITIONS D’UTILISATIONS</h1>
  </div>
  <div class="condition-content">
    <div class="condition-content-element p-mr-6">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum enim et similique explicabo dignissimos magnam labore aliquam ullam? Rem ad ab distinctio voluptatibus
        quis temporibus obcaecati inventore, nam voluptatem iste.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit amet eveniet consequuntur quia, maxime, harum odit nesciunt at possimus
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, aspernatur saepe sint esse dignissimos omnis vitae eveniet maiores dolorum libero a,
        quaerat quos labore consequuntur dicta recusandae obcaecati quia nobis. illo cum accusamus cupiditate aspernatur mollitia ratione minima iure modi temporibus?</p>
    </div>
    <div class="condition-content-element">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum enim et similique explicabo dignissimos magnam labore aliquam ullam? Rem ad ab distinctio voluptatibus
        quis temporibus obcaecati inventore, nam voluptatem iste.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit amet eveniet consequuntur quia, maxime, harum odit nesciunt at possimus
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, aspernatur saepe sint esse dignissimos omnis vitae eveniet maiores dolorum libero a,
        quaerat quos labore consequuntur dicta recusandae obcaecati quia nobis. illo cum accusamus cupiditate aspernatur mollitia ratione minima iure modi temporibus?</p>
    </div>
  </div>
</div>
<div class="img-condition-bottom">
  <div class="condition-text-bottom">
    <p>Beeblo est un mesage d’universalité; la sobriété occidentale mélangée à une forte inspiration de l’art africain.
    </p>
    <p>Très fier de nos origines françaises et plus particulièrement bellifontaines, nous revendiquons une modernité urbaine proche de la nature. Nous sommes fiers de notre ville de rattachement, Fontainebleau, qui allie à la fois un développement économique ambitieux et responsable, un rayonnement mondial, et la préservation de l'environnement.
    </p>
    <p>Alors soyons responsables, soyons créatifs, soyons bellifontains, BeeBlo.</p>
  </div>
</div>
