/* You can add global styles to this file, and also import other style files */
@use "sass:meta";
$base-color: #22273e;
$primary: #1d2445;
$secondary: #f9c04f;
$warning: #e09a10;
$success: #00aa5b;
$danger: #cf3b42;
$light: #878787;
$black: #606060;
$light-secondary: #f2f3f7;

@font-face {
  font-family: 'APDE';
  src: url(/assets/font/aristo_pro/zetafonts-aristotelica-pro-display-extralight.otf);
}

@font-face {
  font-family: 'Roboto';
  src: url(/assets/font/roboto/roboto-v20-latin-regular.eot);
  src: url(/assets/font/roboto/roboto-v20-latin-regular.eot?#iefix) format('embedded-opentype'),
       url(/assets/font/roboto/roboto-v20-latin-regular.woff2) format('woff2'),
       url(/assets/font/roboto/roboto-v20-latin-regular.woff) format('woff'),
       url(/assets/font/roboto/roboto-v20-latin-regular.ttf)  format('truetype'),
       url(/assets/font/roboto/roboto-v20-latin-regular.svg) format('svg');
}

@font-face {
  font-family: 'Arkania';
  src: url(/assets/font/arkania/arkania-regular.ttf) format('truetype');
}

$primary-font: "APDE";
$secondary-font: Roboto;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --light: #{$light};
  --black: #{$black};
  --consumed-by-js: $primary;
}

body {
  color: $black;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
}

* {
  outline: none;
}

.p-component, .p-component * {
  font-size: 16px !important;
}

.wrapper-body {
  padding-top: 3% !important;
  margin: auto !important;
  width: 90% !important;
}

.c-primary {
  color: $primary;
}

.c-secondary {
  color: $secondary;
}

.c-danger {
  color: $danger;
}

.c-warning {
  color: $warning;
}

.c-success {
  color: $success;
}

.b-primary {
  background-color: $primary;
}

.b-secondary {
  background-color: $secondary;
}

.b-danger {
  background-color: $danger;
}

.b-warning {
  background-color: $warning;
}

.b-success {
  background-color: $success;
}

.p-autocomplete {
  width: 100% !important;
  font-family: $primary-font !important;
}

.p-autocomplete-dd .p-autocomplete-dropdown {
  background-color: $light;
  color: $black;
  border: 0px;
  padding-bottom: 5%;
}

.p-autocomplete {
  margin-bottom: 10%;
}

.p-button:enabled:hover {
  background-color: $black !important;
}

.p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container{
  border: 1px solid $black !important;
  font-size: 18px !important;
  font-family: $primary-font;
  font-weight: bold;
  color: $light;
  height: 40px;
}

input.p-autocomplete-input.p-inputtext.p-component.ng-tns-c5-1.p-autocomplete-dd-input.ng-star-inserted {
  text-align: center;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0 #a6d5fa !important;
  border-color: none;
}
