<div class="main-faq">
  <div class="section">
    <div class="wrapper-body">
      <div class="card">
        <table class="card-block">
          <tr>
            <td class="icone-block">
              <img class="faq-img-icone" src="assets/img/faq/user.png" alt="beeblo-user" />
              <!-- <p class="responsive-title">
                Mon compte
              </p> -->
            </td>
            <td class="title-block"><h2>Mon compte</h2></td>
          </tr>
        </table>
      </div>
      <div class="card">
        <table class="card-block">
          <tr>
            <td class="icone-block">
              <img class="faq-img-icone" src="assets/img/faq/panier.png" alt="beeblo-panier" />
              <!-- <p class="responsive-title">
                Passer une commande
              </p> -->
            </td>
            <td class="title-block"><h2>Passer une commande</h2></td>
          </tr>
        </table>
      </div>
      <div class="card">
        <table class="card-block">
          <tr>
            <td class="icone-block">
              <img class="faq-img-icone pourcent" src="assets/img/faq/pourcent.png" alt="beeblo-pourcent" />
              <!-- <p class="responsive-title">
                Code de promotion
              </p> -->
            </td>
            <td class="title-block"><h2>Code de promotion</h2></td>
          </tr>
        </table>
      </div>
      <div class="card">
        <table class="card-block">
          <tr>
            <td class="icone-block">
              <img class="faq-img-icone" src="assets/img/faq/card.png" alt="beeblo-card" />
              <!-- <p class="responsive-title">
                Mode de paiement
              </p> -->
            </td>
            <td class="title-block"><h2>Mode de paiement</h2></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="wrapper-body">
    <div class="p-text-center">
      <h1 class="title-header">LES QUESTIONS FREQUEMMENT POSEES</h1>
    </div>
    <div>
      <table class="question-fr-item">
        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim adipisci maxime minima voluptate tempore autem assumenda neque
          </td>
          <td class="add-icone-block">
            <img class="add-icone" src="assets/img/faq/add.png" alt="beeblo-add">
          </td>
        </tr>
      </table>
      <table class="question-fr-item">
        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim adipisci maxime minima voluptate tempore autem assumenda neque
          </td>
          <td class="add-icone-block">
            <img class="add-icone" src="assets/img/faq/add.png" alt="beeblo-add">
          </td>
        </tr>
      </table>
      <table class="question-fr-item">
        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim adipisci maxime minima voluptate tempore autem assumenda neque
          </td>
          <td class="add-icone-block">
            <img class="add-icone" src="assets/img/faq/add.png" alt="beeblo-add">
          </td>
        </tr>
      </table>
      <table class="question-fr-item">
        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim adipisci maxime minima voluptate tempore autem assumenda neque
          </td>
          <td class="add-icone-block">
            <img class="add-icone" src="assets/img/faq/add.png" alt="beeblo-add">
          </td>
        </tr>
      </table>
      <table class="question-fr-item">
        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim adipisci maxime minima voluptate tempore autem assumenda neque
          </td>
          <td class="add-icone-block">
            <img class="add-icone" src="assets/img/faq/add.png" alt="beeblo-add">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
